@font-face { font-family: money; src: url('fonts/money.otf'); }
@font-face { font-family: money; font-weight: bold; src: url('fonts/money.otf');}

@font-face { font-family: smallMoney; src: url('fonts/smallFont.ttf'); }
@font-face { font-family: smallMoney; font-weight: bold; src: url('fonts/smallFont.ttf');}

body {
  background-color: #1e383c;
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, i, p {
  color: #f6f8fa;
  font-family: smallMoney, sans-serif;
}

h2, h3 {
  text-decoration: underline;
}


.clickable {
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
  cursor: pointer;
}

input {
  width: 100px;
}

strike {
  color: #ff3838;
  text-decoration: line-through;
/*noinspection CssOverwrittenProperties*/
  text-decoration: black line-through;
}

.alert {
  padding: 10px;
  color: #1c1c1c;
  height: 40px;
  position: fixed;
  top:0%;
  width:100%;
  opacity: 1;
  z-index: 1;
}

#alert-money {
  display: none;
  background-color: #ffa6a6;
}

#alert-bought {
  display: none;
  background-color: #75ff8f;
}

#alert-sold {
  display: none;
  background-color: #8fd2ff;
}

.closebtn {
  margin-left: 15px;
  margin-right: 15px;
  color: #1c1c1c;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: #f6f8fa;
}

.center {
  margin: auto;
  width: 300px;
  height: 50px;
  border: 2px solid #1f1f1f;
  border-radius: 5px;
  padding: 10px;
  text-align: center;
  background-color: #c3ccd3;
}

button {
  border: none;
  padding: 3px 7px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  border-radius: 5px;
  cursor: pointer;
}

button {
  background-color: #f6f8fa;
  color: black;
  border: 2px solid #1e383c;
}

button:hover {
  background-color: #1e383c;
  color: #f6f8fa;
}

#myLiveItems {
  min-height: 165px;
  /* height: 165px; */
  background-color: #8ea6b2;
}

h1 {
  font-size: 7vw;
  font-family: money, sans-serif;
}

@media only screen and (max-width: 550px) {
  h1 {
    font-size: 15vw;
  }
}


#moneyP {
  font-size: 30px;
  font-family: smallMoney, sans-serif;
}

hr {
  border: 2px solid #1f1f1f;
}

.text-center {
  padding-top: 5px;
  padding-bottom: 10px;
}

.largeMarket, .gridContainer {
  background-color: #8ea6b2;
  border-radius: 5px;
}

.gridContainer {
  padding: 15px;
}

.gridItem {
  border: 2px solid #1f1f1f;
  background-color: #c3ccd3;
  border-radius: 5px;
  padding-top: 10px;
}

.dt {
  color: #1f1f1f;
}

footer {
  padding-top: 15px;
}
